
    <section class="h-screen">
        <div class="h-full px-6 text-gray-800">
          <div class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between xl:justify-center">
            <div class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
              <a href="./"><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="w-full" alt="Sample image" /></a>
            </div>
            <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:ml-20 xl:w-5/12">
                <div class="text-xl">
                    Please enter the email address you used to create your account,and we will send you a link to reset your password.
                </div>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- Email input -->
                <div class="mb-6 form-group">
                    <input type="text" class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-4 py-2 text-xl font-normal text-gray-700 transition ease-in-out focus:border-red-400 focus:bg-white focus:text-gray-700 focus:outline-none" placeholder="Email address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-red-700">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>                
                </div>

                <div class="text-center lg:text-left form-group">
                  <button [disabled]="loading" type="submit"
                  class="inline-block rounded bg-rose-400 px-7 py-3 text-sm font-medium uppercase leading-snug text-white shadow-md transition duration-150 ease-in-out hover:bg-rose-600 hover:shadow-lg focus:bg-rose-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-800 active:shadow-lg">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                  </button>
                  <div *ngIf="messageError && !response" class="invalid-feedback text-red-700">{{messageError}}</div>
                  <p *ngIf="submitted && response && !f.email.errors" class="text-sm">{{response}}</p>
                  <p class="mt-2 mb-0 pt-1 text-sm font-semibold">
                    Back to
                    <a routerLink="../" class="text-red-600 transition duration-200 ease-in-out hover:text-red-700 focus:text-red-700">Login</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>