<div class="inline-flex w-full space-x-56 bg-red-500" style="height: 36px;">
  <p class="text-2xl font-semibold leading-9">Blog.</p>
  <div class="h-1/6 w-1.5 rounded-full bg-red-500"></div>
  <!-- <div class="hidden h-7 w-80 items-center justify-end space-x-2 md:inline-flex">
    <p class="text-base leading-7 text-gray-900"> <a href="">Home</a></p>
    <p class="text-base leading-10 text-gray-600"><a href="">Profile</a></p>
    <p class="text-base leading-10 text-gray-600">Projects</p>
    <p class="text-base leading-10 text-gray-600">Article</p>
  </div> -->
  <div class="inline-flex h-5/6 w-20 flex-col items-end justify-end">
    <p class="text-end text-lg font-semibold leading-loose text-gray-900 justify-end">Contact</p>
    <div class="h-0.5 w-full bg-gray-900"></div>
  </div>
</div>
