/* * {
    background-image: "../../../assets/images/background.jpg";
    background-color: pink;
} */

h1 {
    font-family:"JetBrains Mono",monospace;
    font-size: 500%;
    color: rgb(237, 11, 113);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #f390c5 0, #ef38a0 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
}

button:focus {
  box-shadow: #ee1245 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e31414 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ee1245 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #ee1245 0 3px 7px inset;
  transform: translateY(02x);
} */
